@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0 auto;
}
header{
    background-color: #333333;
}
div a {
    text-decoration: none;
    color: #99FA9C;
    padding-right: 80px;
    font-weight: 300;
    text-transform: uppercase;
}
div.header-container{
    padding: 10px;
    display: block;
    padding-left: 150px
}
.auto{
    padding-top: 15px;
}
nav{
    list-style: none;
}
nav li {
    display: inline-flex;
    padding: 0px 10px;
}
nav  li button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
button:hover {
    opacity:1;
}

div.btn-view{
    display: flex;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
}
.view-words{
    padding-left: 20%
}
.view-words h1{
    font-size: 25px;
    margin-top: 11px;
    text-transform: capitalize;
}
.view-words h6{
    font-size: 12px;
    text-transform: uppercase;
}
.view-words a p{
    margin: 0 0 10px;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: initial;
}
.view-words a{
    text-decoration: none;
    color: #000;
}
.btn-default{
    text-decoration: none;
    background-color: #F7290D;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.btn-delete{
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.view-img img{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 6px;
}
.view-words ul{
    float: right;
    list-style: none;
}
.view-words ul li {
    padding: 10px;
}
.footer-content{
    color: #fff;
    width: 100%;
    height: auto;
    padding-top: 10px;
    text-align: center;
}
footer{
    background: #000 none repeat scroll 0 0;
    padding: 17px 10px 10px;
}